<!--The content below is only a placeholder and can be replaced.-->
<app-navigation-bar>

</app-navigation-bar>
<div style="text-align:center;margin: 70px 0px 40px 0px;" >
  <h1>
    Please Login before preceeding
  </h1>
</div>
<div class="login" >
    <mat-card color="accent" class="example-card">
      <mat-card-header class="login-header">
        <mat-card-title><h3>Login</h3></mat-card-title>        
      </mat-card-header>
      <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <mat-card-content>
          <img mat-card-image src="/assets/images/download.png"  alt="admin.png">
        </mat-card-content>
        <mat-card-content>
          <mat-form-field [floatLabel]="auto">
            <input matInput formControlName="email" required>
            <mat-placeholder class="placeholder">email</mat-placeholder>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field [floatLabel]="auto">
            <input matInput class="input" formControlName="password" type="password" required>
            <mat-placeholder class="placeholder">Password</mat-placeholder>
            <mat-hint align="end" class="forgot-pass">forgot password?</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <button  type="submit" mat-flat-button color="primary">Login</button>
        </mat-card-content>
      </form>
    </mat-card>
</div>

